@model IEnumerable<ProyectoProgramacionII.Models.Tbpaymentreceipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkPaymentmethodNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkSaleNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkPaymentmethodNavigation.PkPaymentmethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkSaleNavigation.PkSale)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PkPaymentreceipt">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PkPaymentreceipt">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PkPaymentreceipt">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
